# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
import cleaning as cl
import re
file_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
file_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file_3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [2]:
print(file_1.columns)
print(file_2.columns)
print(file_3.columns)
print(file_1.count())
print(file_2.count())
print(file_3.count())

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')
Customer                     1071
ST                           1071
GENDER                        954
Education                    1071
Customer Lifetime Value      1068
Income                       1071
Monthly Premium Auto         1071
Number of Open Complaints    1071
Policy Type                  1071
Vehicle Class                1071
Total Claim Amount           1071
dtype: int64
Customer                     996
ST                           996
GENDER                       991
Education                    996
Customer Lifetime Value      992
Income                       996
Monthly Premium Auto         996
Number of Open Complaints    996
Total Claim Amount           996
Policy Type                  996
Vehicle Class                996
dtype: int64
Customer                     7070
State                        7070
Customer Lifetime Value      7070
Education                    7070
Gender                       7070
Income                       7070
Monthly Premium Auto         7070
Number of Open Complaints    7070
Policy Type                  7070
Total Claim Amount           7070
Vehicle Class                7070
dtype: int64

In [26]:
test_merged_df = pd.concat([file_1,file_2],axis=0)
print(file_2["Customer"].duplicated().sum())
print(file_1["Customer"].duplicated().sum())
print(test_merged_df["Customer"].duplicated().sum())#number of duplicated customers on file_1 and file 3 == 36, needs to be a right join
test_merged_df.to_csv("Merged_df.csv",index=False)
test_merged_df.head()

0
2936
2939

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [9]:
final_merged_df = pd.concat([test_merged_df,file_3],axis=0)
cl.cleaning_dataframes(final_merged_df,"costumer")
final_merged_df.drop_duplicates(subset="customer",keep="first",inplace=True)
final_merged_df.head()

c:\Users\vi_to\Desktop\IRONHACK\Week 2\LAB\lab-dw-data-structuring-and-combining\cleaning.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"].replace(r"(?i)\bM\w*\b",regex=True,value="M",inplace=True)
c:\Users\vi_to\Desktop\IRONHACK\Week 2\LAB\lab-dw-data-structuring-and-combining\cleaning.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"].replace(r"(?i)\bF\w*\b",regex=True,value="F",inplace=True)

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,state,gender
0,RB50392,Washington,N/A,Master,N/A,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,N/A,N/A
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,N/A,N/A
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,N/A,N/A
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,N/A,N/A
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,N/A,N/A

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [19]:
# Your code goes here
df_c2= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df_c2.head()
df_c2.columns = [cl.low_clean_columns(i) for i in df_c2.columns]
cl.cleaning_nulls(df_c2)
df_c2.drop_duplicates(subset="customer",keep="first",inplace=True)
df_c2=cl.date_convert(df_c2,"effective to date","month")
df_c2.columns

Index(['unnamed  0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type', 'month'],
      dtype='object')

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [30]:
# Your code goes here
df_c2.pivot_table(index='sales channel',
                  columns=["month"], 
                  values=("monthly premium auto"),
                  aggfunc='sum').round()
#With this insights we can conclude that the agents ara by far the one who gets more revenue,and Web is losing so much compared with January

month          February  January
sales channel
Agent            154368   171354
Branch           109566   129953
Call Center       76644    86587
Web               56096    66897

In [18]:
df_c2.pivot_table(values="customer lifetime value",
                  columns="gender",
                  index="education", aggfunc="mean").round()#Woman tends to have a higher lifetime value than mans,maybe they are more cautious

gender                     F       M
education
Bachelor              8013.0  7722.0
College               7733.0  7971.0
Doctor                7424.0  7615.0
High School or Below  8579.0  8010.0
Master                8319.0  8158.0

In [28]:
df_c2.pivot_table(values="number of open complaints",
                  columns="month",
                  index="sales channel", aggfunc="count").round()
#Most complaints comes from the Agent,but if we take in consideration it has the highest numers on sales, its normal to then be on top.

month          February  January
sales channel
Agent              1639     1838
Branch             1180     1387
Call Center         827      938
Web                 590      735