# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd 

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

cols = []
for colname in file1.columns:
    cols.append(colname.lower())

file1.columns = cols

file1 = file1.rename(columns={'st':'state',
                                'customer lifetime value':'customer_lifetime_value',
                                'monthly premium auto':'monthly_premium_auto',
                                'number of open complaints':'number_of_open_complaints',
                                             'policy type':'policy_type',
                                             'vehicle class':'vehicle_class',
                                             'total claim amount':'total_claim_amount'})

cols = []
for colname in file2.columns:
    cols.append(colname.lower())

file2.columns = cols

file2 = file2.rename(columns={'st':'state',
                                'customer lifetime value':'customer_lifetime_value',
                                'monthly premium auto':'monthly_premium_auto',
                                'number of open complaints':'number_of_open_complaints',
                                             'policy type':'policy_type',
                                             'vehicle class':'vehicle_class',
                                             'total claim amount':'total_claim_amount'})

cols = []
for colname in file3.columns:
    cols.append(colname.lower())

file3.columns = cols

file3 = file3.rename(columns={'st':'state',
                                'customer lifetime value':'customer_lifetime_value',
                                'monthly premium auto':'monthly_premium_auto',
                                'number of open complaints':'number_of_open_complaints',
                                             'policy type':'policy_type',
                                             'vehicle class':'vehicle_class',
                                             'total claim amount':'total_claim_amount'})

customer_data = pd.concat([file1, file2, file3],ignore_index=True)

customer_data['gender'] = customer_data['gender'].str.lower()
gender_mapping = {'female': 'F','f': 'F','male': 'M','m': 'M'}
customer_data['gender'] = customer_data['gender'].map(gender_mapping)
customer_data['state'] = customer_data['state'].str.lower()

state_mapping = {'cali': 'california','az': 'arizona', 'wa': 'washington',}
customer_data['state'] = customer_data['state'].replace(state_mapping)

customer_data['customer_lifetime_value'] = customer_data['customer_lifetime_value'].str.rstrip('%').astype(float) 
customer_data['number_of_open_complaints'] = customer_data['number_of_open_complaints'].str.split('/').str[0].astype(float, errors='ignore')

columns_with_nan = customer_data.columns[customer_data.isnull().any()]
nan_counts = customer_data[columns_with_nan].isnull().sum()

customer_data = customer_data.dropna(how='all')

columns_with_nan = customer_data.columns[customer_data.isnull().any()]

customer_data = customer_data.dropna(axis=0)

dup_rows = customer_data[customer_data.duplicated(['customer', 'policy_type'])]
customer_data.drop_duplicates()

display(customer_data)
display(round(customer_data.describe().T),2)
display(customer_data.describe(include='object').T)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,california,M,Bachelor,764586.18,0.0,106.0,1.0,Corporate Auto,SUV,529.881344
4,GA49547,washington,M,High School or Below,536307.65,36357.0,68.0,1.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,oregon,F,Bachelor,825629.78,62902.0,69.0,1.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
4999,HV85198,arizona,M,Master,847141.75,63513.0,70.0,1.0,Personal Auto,Four-Door Car,185.667213
5000,BS91566,arizona,F,College,543121.91,58161.0,68.0,1.0,Corporate Auto,Four-Door Car,140.747286
5001,IL40123,nevada,F,College,568964.41,83640.0,70.0,1.0,Corporate Auto,Two-Door Car,471.050488
5002,MY32149,california,F,Master,368672.38,0.0,96.0,1.0,Personal Auto,Two-Door Car,28.460568
5003,SA91515,california,M,Bachelor,399258.39,0.0,111.0,1.0,Personal Auto,SUV,700.349052

,count,mean,std,min,25%,50%,75%,max
customer_lifetime_value,1923.0,781593.0,625841.0,200435.0,399216.0,571979.0,886856.0,4922143.0
income,1923.0,39656.0,30432.0,0.0,15156.0,36576.0,64457.0,99981.0
monthly_premium_auto,1923.0,172.0,1255.0,61.0,68.0,82.0,108.0,35354.0
number_of_open_complaints,1923.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
total_claim_amount,1923.0,412.0,287.0,0.0,244.0,350.0,526.0,2893.0

2

              count unique            top  freq
customer       1923   1920        GS98873     2
state          1923      5         oregon   572
gender         1923      2              F  1012
education      1923      6        College   583
policy_type    1923      3  Personal Auto  1430
vehicle_class  1923      6  Four-Door Car  1007

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [2]:
marketing_customer_analysis = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

marketing_customer_analysis = marketing_customer_analysis.drop([marketing_customer_analysis.columns[0]], axis=1)

cols = []
for colname in marketing_customer_analysis.columns:
    cols.append(colname.lower())

marketing_customer_analysis.columns = cols

marketing_customer_analysis = marketing_customer_analysis.rename(columns={'customer lifetime value':'customer_lifetime_value', 'effective to date':'effective_to_date',
                                'employmentstatus':'employment_status', 'location code':'location_code', 'marital status':'marital_status',
                                'monthly premium auto':'monthly_premium_auto', 'months since last claim':'months_since_last_claim',
                                'months since policy inception':'months_since_policy_inception', 'number of open complaints':'number_of_open_complaints',
                                'number of policies':'number_of_policies', 'policy type':'policy_type', 'renew offer type':'renew_offer_type',
                                'sales channel':'sales_channel', 'total claim amount':'total_claim_amount', 'vehicle class':'vehicle_class',
                                                                         'vehicle size':'vehicle_size', 'vehicle type':'vehicle_type'})

marketing_customer_analysis['gender'] = marketing_customer_analysis['gender'].str.lower()
gender_mapping = {'female': 'F','f': 'F','male': 'M','m': 'M'}
marketing_customer_analysis['gender'] = marketing_customer_analysis['gender'].map(gender_mapping)
marketing_customer_analysis['state'] = marketing_customer_analysis['state'].str.lower()

state_mapping = {'cali': 'california','az': 'arizona', 'wa': 'washington',}
marketing_customer_analysis['state'] = marketing_customer_analysis['state'].replace(state_mapping)

marketing_customer_analysis['customer_lifetime_value'] = marketing_customer_analysis['customer_lifetime_value'].astype(float) 
marketing_customer_analysis['number_of_open_complaints'] = marketing_customer_analysis['number_of_open_complaints'].astype(float, errors='ignore')

columns_with_nan = marketing_customer_analysis.columns[marketing_customer_analysis.isnull().any()]
nan_counts = marketing_customer_analysis[columns_with_nan].isnull().sum()

marketing_customer_analysis = marketing_customer_analysis.dropna(how='all')

columns_with_nan = marketing_customer_analysis.columns[marketing_customer_analysis.isnull().any()]

marketing_customer_analysis = marketing_customer_analysis.dropna(axis=0)

dup_rows = marketing_customer_analysis[marketing_customer_analysis.duplicated(['customer', 'policy_type'])]
marketing_customer_analysis.drop_duplicates()

display(marketing_customer_analysis)
display(marketing_customer_analysis.info())
display(round(marketing_customer_analysis.describe().T),2)
display(marketing_customer_analysis.describe(include='object').T)


marketing_customer_analysis.to_csv('marketing_customer_analysis.csv', index=False)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,LZ68649,washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,HG93801,arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,KR82385,california,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,FH51383,california,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,california,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,SU71163,arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,QI63521,nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,KX53892,oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,WA60547,california,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 2 to 10908
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       4543 non-null   object
 1   state                          4543 non-null   object
 2   customer_lifetime_value        4543 non-null   float64
 3   response                       4543 non-null   object
 4   coverage                       4543 non-null   object
 5   education                      4543 non-null   object
 6   effective_to_date              4543 non-null   object
 7   employment_status              4543 non-null   object
 8   gender                         4543 non-null   object
 9   income                         4543 non-null   int64
 10  location_code                  4543 non-null   object
 11  marital_status                 4543 non-null   object
 12  monthly_premium_auto           4543 non-null   int64
 13  months_since_last_claim        4543 non-null   float64
 14  months_since_policy_inception  4543 non-null   int64
 15  number_of_open_complaints      4543 non-null   float64
 16  number_of_policies             4543 non-null   int64
 17  policy_type                    4543 non-null   object
 18  policy                         4543 non-null   object
 19  renew_offer_type               4543 non-null   object
 20  sales_channel                  4543 non-null   object
 21  total_claim_amount             4543 non-null   float64
 22  vehicle_class                  4543 non-null   object
 23  vehicle_size                   4543 non-null   object
 24  vehicle_type                   4543 non-null   object
dtypes: float64(4), int64(4), object(17)
memory usage: 922.8+ KB

None

,count,mean,std,min,25%,50%,75%,max
customer_lifetime_value,4543.0,8034.0,6960.0,1904.0,4039.0,5847.0,8937.0,83325.0
income,4543.0,37453.0,30257.0,0.0,0.0,34455.0,61560.0,99961.0
monthly_premium_auto,4543.0,94.0,35.0,61.0,69.0,83.0,110.0,298.0
months_since_last_claim,4543.0,15.0,10.0,0.0,6.0,14.0,23.0,35.0
months_since_policy_inception,4543.0,48.0,28.0,0.0,24.0,47.0,72.0,99.0
number_of_open_complaints,4543.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
number_of_policies,4543.0,3.0,2.0,1.0,1.0,2.0,4.0,9.0
total_claim_amount,4543.0,436.0,295.0,0.0,266.0,384.0,552.0,2893.0

2

                  count unique            top  freq
customer           4543   4543        LZ68649     1
state              4543      5     california  1552
response           4543      2             No  3902
coverage           4543      3          Basic  2759
education          4543      5       Bachelor  1374
effective_to_date  4543     59        1/10/11   105
employment_status  4543      5       Employed  2831
gender             4543      2              F  2326
location_code      4543      3       Suburban  2844
marital_status     4543      3        Married  2665
policy_type        4543      3  Personal Auto  3390
policy             4543      9    Personal L3  1730
renew_offer_type   4543      4         Offer1  1849
sales_channel      4543      4          Agent  1751
vehicle_class      4543      6  Four-Door Car  2277
vehicle_size       4543      3        Medsize  3187
vehicle_type       4543      1              A  4543

In [3]:
!dir

 Volume in drive C is OS
 Volume Serial Number is 52AC-66C2

 Directory of C:\Users\duart\ironhack.bootcamp\Week_1\Day_4\Morning\lab-dw-data-structuring-and-combining

29/06/2023  16:51    <DIR>          .
29/06/2023  16:51    <DIR>          ..
28/06/2023  16:21    <DIR>          .ipynb_checkpoints
29/06/2023  16:51            82Ã¿296 lab-dw-data-structuring-and-combining.ipynb
29/06/2023  16:53           814Ã¿272 marketing_customer_analysis.csv
28/06/2023  16:18             8Ã¿174 README.md
               3 File(s)        904Ã¿742 bytes
               3 Dir(s)  65Ã¿036Ã¿222Ã¿464 bytes free

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [4]:
total_revenue_by_channel = pd.pivot_table(marketing_customer_analysis, values='customer_lifetime_value', index='sales_channel', aggfunc='sum').reset_index()
total_revenue_by_channel['total_revenue'] = total_revenue_by_channel['customer_lifetime_value'].round(2)
total_revenue_by_channel = total_revenue_by_channel.drop('customer_lifetime_value', axis=1)
display(total_revenue_by_channel)

  sales_channel  total_revenue
0         Agent    13674755.40
1        Branch    10378392.74
2   Call Center     7300552.20
3           Web     5143462.62

In [5]:
#Agent and Branch are, by far, the best sales channel at getting revenue from insurance policies, meaning probably they have better presence and better connection with clients who spend more.

In [6]:
avg_customer_lifetime_value_by_gender_education = pd.pivot_table(marketing_customer_analysis, values='customer_lifetime_value', index=('gender','education'), aggfunc='mean')
avg_customer_lifetime_value_by_gender_education['avg_revenue'] = avg_customer_lifetime_value_by_gender_education['customer_lifetime_value'].round(2)
avg_customer_lifetime_value_by_gender_education = avg_customer_lifetime_value_by_gender_education.drop('customer_lifetime_value', axis=1)
display(avg_customer_lifetime_value_by_gender_education)
display(avg_customer_lifetime_value_by_gender_education.describe().T)

                             avg_revenue
gender education
F      Bachelor                  8039.29
       College                   7798.08
       Doctor                    8475.30
       High School or Below      8475.52
       Master                    8243.13
M      Bachelor                  8125.26
       College                   7984.30
       Doctor                    7659.74
       High School or Below      7730.15
       Master                    8013.87

,count,mean,std,min,25%,50%,75%,max
avg_revenue,10.0,8054.464,284.510984,7659.74,7844.635,8026.58,8213.6625,8475.52

In [7]:
# Females with Doctorates, High School education or below and Masters are the ones who generate more revenue for the insurance company. The ones who generate less are the Male Doctorates. Female values are more above the average revenue, than the male values. Female values are even above the top 25% quantile.

In [8]:
# Convert 'effective_to_date' column to datetime, calculate current date based on 'months_since_policy_inception' column, extract month of the last complaint
marketing_customer_analysis['effective_to_date'] = pd.to_datetime(marketing_customer_analysis['effective_to_date'])
marketing_customer_analysis['current_date'] = marketing_customer_analysis.apply(lambda row: row['effective_to_date'] + pd.DateOffset(months=row['months_since_policy_inception']), axis=1)
marketing_customer_analysis['month'] = marketing_customer_analysis.apply(lambda row: (row['current_date'] - pd.DateOffset(months=row['months_since_last_claim'])).strftime('%B'), axis=1)

complaints_summary = marketing_customer_analysis.groupby(['policy_type', 'month']).size().reset_index(name='number_of_complaints')

complaints_summary_pivot = complaints_summary.pivot(index='policy_type', columns='month', values='number_of_complaints').reset_index()

complaints_summary_pivot = complaints_summary_pivot.melt(id_vars='policy_type', var_name='month', value_name='number_of_complaints')

display(complaints_summary_pivot)
display(round(complaints_summary_pivot.describe(),2))

       policy_type      month  number_of_complaints
0   Corporate Auto      April                    77
1    Personal Auto      April                   259
2     Special Auto      April                    15
3   Corporate Auto     August                    67
4    Personal Auto     August                   301
5     Special Auto     August                    25
6   Corporate Auto   December                    89
7    Personal Auto   December                   300
8     Special Auto   December                    19
9   Corporate Auto   February                    70
10   Personal Auto   February                   236
11    Special Auto   February                     9
12  Corporate Auto    January                    82
13   Personal Auto    January                   299
14    Special Auto    January                    26
15  Corporate Auto       July                    74
16   Personal Auto       July                   244
17    Special Auto       July                    13
18  Corporate Auto       June                    76
19   Personal Auto       June                   288
20    Special Auto       June                    15
21  Corporate Auto      March                    84
22   Personal Auto      March                   306
23    Special Auto      March                    17
24  Corporate Auto        May                    74
25   Personal Auto        May                   314
26    Special Auto        May                    17
27  Corporate Auto   November                    85
28   Personal Auto   November                   291
29    Special Auto   November                    17
30  Corporate Auto    October                    85
31   Personal Auto    October                   256
32    Special Auto    October                    23
33  Corporate Auto  September                    81
34   Personal Auto  September                   296
35    Special Auto  September                    13

       number_of_complaints
count                 36.00
mean                 126.19
std                  115.97
min                    9.00
25%                   22.00
50%                   79.00
75%                  256.75
max                  314.00