# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [60]:
import pandas as pd

insurance_company = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
insurance_company2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
insurance_company3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [61]:
### Data Cleaning insurance_company ###

In [62]:
insurance_company.shape

(4008, 11)

In [63]:
insurance_company.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [64]:
#Cleaning Column Names insurance_company
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'ST':'State', 'GENDER':'Gender'})
    return insurance_company
insurance_company = cleaning_column_names(insurance_company)

def standardized_gender(row):
    if type(row['Gender']) != float:
        if row['Gender'] == 'Male':
            return 'M'
        elif row['Gender'] == 'female' or row['Gender'] == 'Femal':
            return 'F'
        else:
            return row['Gender']


def standardized_complaints(row):
    if type(row['Number of Open Complaints']) == str:
        return int(row['Number of Open Complaints'].split('/')[1])
    else:
        return row['Number of Open Complaints']


def standardized_lifetime_value(row):
    if type(row['Customer Lifetime Value']) == str:
        return float(row['Customer Lifetime Value'].strip('%'))/100
    else:
        return row['Customer Lifetime Value']

insurance_company['Gender'] = insurance_company.apply(standardized_gender, axis=1)
insurance_company['Number of Open Complaints'] = insurance_company.apply(standardized_complaints, axis=1)
insurance_company['Customer Lifetime Value'] = insurance_company.apply(standardized_lifetime_value, axis=1)

In [65]:
insurance_company.head(3)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,None,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247

In [66]:
insurance_company_null = insurance_company.isnull().sum()
insurance_company_null[insurance_company_null>0]

Customer                     2937
State                        2937
Gender                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [67]:
insurance_company = insurance_company.dropna()

In [68]:
insurance_company.isnull()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1066,False,False,False,False,False,False,False,False,False,False,False
1067,False,False,False,False,False,False,False,False,False,False,False
1068,False,False,False,False,False,False,False,False,False,False,False
1069,False,False,False,False,False,False,False,False,False,False,False
1070,False,False,False,False,False,False,False,False,False,False,False

In [69]:
insurance_company.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [70]:
### Data Cleaning insurance_company2 ###

In [71]:
insurance_company2.shape

(996, 11)

In [72]:
insurance_company2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [73]:
#Cleaning Column Names insurance_company2
def cleaning_column_names(insurance_company2):
    insurance_company2 = insurance_company2.rename(columns = {'ST':'State', 'GENDER':'Gender'})
    return insurance_company2
insurance_company2 = cleaning_column_names(insurance_company2)

def standardized_gender(row):
    if type(row['Gender']) != float:
        if row['Gender'] == 'Male':
            return 'M'
        elif row['Gender'] == 'female' or row['Gender'] == 'Femal':
            return 'F'
        else:
            return row['Gender']


def standardized_complaints(row):
    if type(row['Number of Open Complaints']) == str:
        return int(row['Number of Open Complaints'].split('/')[1])
    else:
        return row['Number of Open Complaints']


def standardized_lifetime_value(row):
    if type(row['Customer Lifetime Value']) == str:
        return float(row['Customer Lifetime Value'].strip('%'))/100
    else:
        return row['Customer Lifetime Value']

insurance_company2['Gender'] = insurance_company2.apply(standardized_gender, axis=1)
insurance_company2['Number of Open Complaints'] = insurance_company2.apply(standardized_complaints, axis=1)
insurance_company2['Customer Lifetime Value'] = insurance_company2.apply(standardized_lifetime_value, axis=1)

In [74]:
insurance_company2.head(3)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,3239.1247,16061,88,0,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,4626.8011,79487,114,0,547.2,Special Auto,SUV
2,MY31220,California,F,College,8997.0402,54230,112,0,537.6,Personal Auto,Two-Door Car

In [75]:
insurance_company2_null = insurance_company2.isnull().sum()
insurance_company2_null[insurance_company2_null>0]

Gender                     5
Customer Lifetime Value    4
dtype: int64

In [76]:
insurance_company2.isnull().sum()

Customer                     0
State                        0
Gender                       5
Education                    0
Customer Lifetime Value      4
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Total Claim Amount           0
Policy Type                  0
Vehicle Class                0
dtype: int64

In [77]:
insurance_company2 = insurance_company2.dropna()

In [78]:
insurance_company2.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints      int64
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [79]:
def convert_to_integer(x):
    try:
        return int(x)
    except:
        return x


numeric_columns = ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']

insurance_company2 = insurance_company2.copy()
insurance_company2.loc[:, numeric_columns] = insurance_company2[numeric_columns].applymap(convert_to_integer)

C:\Users\USER\AppData\Local\Temp\ipykernel_5456\2921915512.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  insurance_company2.loc[:, numeric_columns] = insurance_company2[numeric_columns].applymap(convert_to_integer)

In [80]:
insurance_company2.dtypes

Customer                     object
State                        object
Gender                       object
Education                    object
Customer Lifetime Value       int64
Income                        int64
Monthly Premium Auto          int64
Number of Open Complaints     int64
Total Claim Amount            int64
Policy Type                  object
Vehicle Class                object
dtype: object

In [81]:
### Data Cleaning insurance_company3 ###

In [82]:
insurance_company3.shape

(7070, 11)

In [83]:
insurance_company3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [84]:
#Cleaning Column Names insurance_company3
def cleaning_column_names(insurance_company3):
    insurance_company3 = insurance_company3.rename(columns = {'ST':'State', 'GENDER':'Gender'})
    return insurance_company3
insurance_company3 = cleaning_column_names(insurance_company3)

def standardized_gender(row):
    if type(row['Gender']) != float:
        if row['Gender'] == 'Male':
            return 'M'
        elif row['Gender'] == 'female' or row['Gender'] == 'Femal':
            return 'F'
        else:
            return row['Gender']


def standardized_complaints(row):
    if type(row['Number of Open Complaints']) == str:
        return int(row['Number of Open Complaints'].split('/')[1])
    else:
        return row['Number of Open Complaints']


def standardized_lifetime_value(row):
    if type(row['Customer Lifetime Value']) == str:
        return float(row['Customer Lifetime Value'].strip('%'))/100
    else:
        return row['Customer Lifetime Value']

insurance_company3['Gender'] = insurance_company3.apply(standardized_gender, axis=1)
insurance_company3['Number of Open Complaints'] = insurance_company3.apply(standardized_complaints, axis=1)
insurance_company3['Customer Lifetime Value'] = insurance_company3.apply(standardized_lifetime_value, axis=1)

In [85]:
insurance_company3.head(3)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car

In [86]:
insurance_company3_null = insurance_company3.isnull().sum()
insurance_company3_null[insurance_company3_null>0]

Series([], dtype: int64)

In [87]:
insurance_company3.isnull().sum()

Customer                     0
State                        0
Customer Lifetime Value      0
Education                    0
Gender                       0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Total Claim Amount           0
Vehicle Class                0
dtype: int64

In [88]:
insurance_company3.dtypes

Customer                      object
State                         object
Customer Lifetime Value      float64
Education                     object
Gender                        object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints      int64
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

In [89]:
import pandas as pd

def convert_to_integer(x):
    try:
        return int(x)
    except ValueError:
        return x

numeric_columns = ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']

insurance_company3 = insurance_company3.copy()
insurance_company3.loc[:, numeric_columns] = insurance_company3[numeric_columns].applymap(convert_to_integer)

C:\Users\USER\AppData\Local\Temp\ipykernel_5456\3558239299.py:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  insurance_company3.loc[:, numeric_columns] = insurance_company3[numeric_columns].applymap(convert_to_integer)

In [90]:
insurance_company3.dtypes

Customer                     object
State                        object
Customer Lifetime Value       int64
Education                    object
Gender                       object
Income                        int64
Monthly Premium Auto          int64
Number of Open Complaints     int64
Policy Type                  object
Total Claim Amount            int64
Vehicle Class                object
dtype: object

In [91]:
insurance_company.shape

(952, 11)

In [92]:
insurance_company2.shape

(988, 11)

In [93]:
insurance_company3.shape

(7070, 11)

In [94]:
#Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

In [95]:
# merged_data = insurance_company.merge(insurance_company2, on='Customer', how='inner', validate='1:m')
customer_data = pd.concat([insurance_company, insurance_company2])
customer_data = pd.concat([customer_data , insurance_company3])

In [96]:
customer_data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [97]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9010 entries, 1 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9010 non-null   object
 1   State                      9010 non-null   object
 2   Gender                     9010 non-null   object
 3   Education                  9010 non-null   object
 4   Customer Lifetime Value    9010 non-null   float64
 5   Income                     9010 non-null   float64
 6   Monthly Premium Auto       9010 non-null   float64
 7   Number of Open Complaints  9010 non-null   float64
 8   Policy Type                9010 non-null   object
 9   Vehicle Class              9010 non-null   object
 10  Total Claim Amount         9010 non-null   float64
dtypes: float64(5), object(6)
memory usage: 844.7+ KB

In [98]:
# customer_data.head()
customer_data_null = customer_data.isnull().sum()
customer_data_null[customer_data_null>0]

Series([], dtype: int64)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [99]:
marketing_customer_analysis = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [100]:
marketing_customer_analysis.shape

(10910, 26)

In [117]:
marketing_customer_analysis = marketing_customer_analysis.drop('Unnamed: 0', axis=1)

In [119]:
marketing_customer_analysis.head(3)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,Feb
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Jan
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,Jan

In [120]:
marketing_customer_analysis.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type', 'month'],
      dtype='object')

In [121]:
marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 2 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       4543 non-null   object
 1   State                          4543 non-null   object
 2   Customer Lifetime Value        4543 non-null   float64
 3   Response                       4543 non-null   object
 4   Coverage                       4543 non-null   object
 5   Education                      4543 non-null   object
 6   Effective To Date              4543 non-null   datetime64[ns]
 7   EmploymentStatus               4543 non-null   object
 8   Gender                         4543 non-null   object
 9   Income                         4543 non-null   int64
 10  Location Code                  4543 non-null   object
 11  Marital Status                 4543 non-null   object
 12  Monthly Premium Auto           4543 non-null   int64
 13  Months Since Last Claim        4543 non-null   float64
 14  Months Since Policy Inception  4543 non-null   int64
 15  Number of Open Complaints      4543 non-null   float64
 16  Number of Policies             4543 non-null   int64
 17  Policy Type                    4543 non-null   object
 18  Policy                         4543 non-null   object
 19  Renew Offer Type               4543 non-null   object
 20  Sales Channel                  4543 non-null   object
 21  Total Claim Amount             4543 non-null   float64
 22  Vehicle Class                  4543 non-null   object
 23  Vehicle Size                   4543 non-null   object
 24  Vehicle Type                   4543 non-null   object
 25  month                          4543 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(17)
memory usage: 958.3+ KB

In [122]:
marketing_customer_analysis_null = marketing_customer_analysis.isnull().sum() #n.Âº NullValues of rows
marketing_customer_analysis_null[marketing_customer_analysis_null>0]

Series([], dtype: int64)

In [123]:
def null_values(marketing_customer_analysis):
    null_exists = False
    for column in marketing_customer_analysis:
        for value in marketing_customer_analysis[column].isnull():
            if(value):
                null_exists = True
    if null_exists == True:
            marketing_customer_analysis= marketing_customer_analysis.dropna()
            
    return marketing_customer_analysis

In [124]:
marketing_customer_analysis = null_values(marketing_customer_analysis)
display(marketing_customer_analysis)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,Feb
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Jan
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,Jan
13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,Jan
16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,Feb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,Jan
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,Jan
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,Feb
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,Jan
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,Feb

In [125]:
marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 2 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       4543 non-null   object
 1   State                          4543 non-null   object
 2   Customer Lifetime Value        4543 non-null   float64
 3   Response                       4543 non-null   object
 4   Coverage                       4543 non-null   object
 5   Education                      4543 non-null   object
 6   Effective To Date              4543 non-null   datetime64[ns]
 7   EmploymentStatus               4543 non-null   object
 8   Gender                         4543 non-null   object
 9   Income                         4543 non-null   int64
 10  Location Code                  4543 non-null   object
 11  Marital Status                 4543 non-null   object
 12  Monthly Premium Auto           4543 non-null   int64
 13  Months Since Last Claim        4543 non-null   float64
 14  Months Since Policy Inception  4543 non-null   int64
 15  Number of Open Complaints      4543 non-null   float64
 16  Number of Policies             4543 non-null   int64
 17  Policy Type                    4543 non-null   object
 18  Policy                         4543 non-null   object
 19  Renew Offer Type               4543 non-null   object
 20  Sales Channel                  4543 non-null   object
 21  Total Claim Amount             4543 non-null   float64
 22  Vehicle Class                  4543 non-null   object
 23  Vehicle Size                   4543 non-null   object
 24  Vehicle Type                   4543 non-null   object
 25  month                          4543 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(17)
memory usage: 958.3+ KB

In [126]:
def day_time(marketing_customer_analysis):
    import pandas as pd
    marketing_customer_analysis["Effective To Date"] = pd.to_datetime(marketing_customer_analysis["Effective To Date"], format='%m/%d/%y')
    return marketing_customer_analysis

In [127]:
marketing_customer_analysis = day_time(marketing_customer_analysis)
marketing_customer_analysis

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,Feb
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Jan
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,Jan
13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,Jan
16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,Feb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,Jan
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,Jan
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,Feb
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,Jan
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,Feb

In [128]:
marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4543 entries, 2 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       4543 non-null   object
 1   State                          4543 non-null   object
 2   Customer Lifetime Value        4543 non-null   float64
 3   Response                       4543 non-null   object
 4   Coverage                       4543 non-null   object
 5   Education                      4543 non-null   object
 6   Effective To Date              4543 non-null   datetime64[ns]
 7   EmploymentStatus               4543 non-null   object
 8   Gender                         4543 non-null   object
 9   Income                         4543 non-null   int64
 10  Location Code                  4543 non-null   object
 11  Marital Status                 4543 non-null   object
 12  Monthly Premium Auto           4543 non-null   int64
 13  Months Since Last Claim        4543 non-null   float64
 14  Months Since Policy Inception  4543 non-null   int64
 15  Number of Open Complaints      4543 non-null   float64
 16  Number of Policies             4543 non-null   int64
 17  Policy Type                    4543 non-null   object
 18  Policy                         4543 non-null   object
 19  Renew Offer Type               4543 non-null   object
 20  Sales Channel                  4543 non-null   object
 21  Total Claim Amount             4543 non-null   float64
 22  Vehicle Class                  4543 non-null   object
 23  Vehicle Size                   4543 non-null   object
 24  Vehicle Type                   4543 non-null   object
 25  month                          4543 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(17)
memory usage: 958.3+ KB

In [129]:
marketing_customer_analysis['month'] = marketing_customer_analysis['Effective To Date'].dt.strftime('%b')
marketing_customer_analysis['month']

2        Feb
3        Jan
10       Jan
13       Jan
16       Feb
        ...
10902    Jan
10903    Jan
10904    Feb
10906    Jan
10908    Feb
Name: month, Length: 4543, dtype: object

In [112]:
#save to csv
marketing_customer_analysis.to_csv("marketing_customer_analysis_clean.csv")

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [130]:
marketing_customer_analysis

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,Feb
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,Jan
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,Jan
13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,Jan
16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,Feb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,Jan
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,Jan
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,Feb
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,Jan
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,Feb

In [141]:
2#Create a pivot table that shows the average customer lifetime value per gender and education level.
marketing_customer_analysis.pivot_table(index='Sales Channel',
                                          columns=["month"],
                                          values=("Monthly Premium Auto"),
                                          aggfunc='sum').round()

month            Feb    Jan
Sales Channel
Agent          78151  85903
Branch         54489  63364
Call Center    40330  42376
Web            26952  34447

In [142]:
marketing_customer_analysis.pivot_table(values="Customer Lifetime Value",
                                        columns="Gender",
                                        index="Education", aggfunc="mean").round()

Gender                     F       M
Education
Bachelor              8039.0  8125.0
College               7798.0  7984.0
Doctor                8475.0  7660.0
High School or Below  8476.0  7730.0
Master                8243.0  8014.0

In [143]:
marketing_customer_analysis.pivot_table(values="Number of Open Complaints",
                                        columns="month",
                                        index="Sales Channel", aggfunc="count").round()

month          Feb  Jan
Sales Channel
Agent          831  920
Branch         585  661
Call Center    430  453
Web            288  375