# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_1 = pd.read_csv(r'C:\Users\dulce\OneDrive\Documentos\Ironhack git\Labs\Labs week 2\lab-dw-data-cleaning-and-formatting\cleaned_data.csv')
df_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df_3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

customer_data = pd.concat([df_1,df_2,df_3])

customer_data

,Customer ID,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Open Complaints,Policy Type,Vehicle Type,Total Claim Amount,Customer,ST,GENDER,Number of Open Complaints,Vehicle Class
0,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN,NaN,NaN
1,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN,NaN,NaN
2,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN,NaN,NaN,NaN
3,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN,NaN,NaN
4,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,California,M,Bachelor,23405.98798,71941.0,73.0,NaN,Personal Auto,NaN,198.234764,LA72316,NaN,NaN,0,Four-Door Car
7066,NaN,California,F,College,3096.511217,21604.0,79.0,NaN,Corporate Auto,NaN,379.200000,PK87824,NaN,NaN,0,Four-Door Car
7067,NaN,California,M,Bachelor,8163.890428,0.0,85.0,NaN,Corporate Auto,NaN,790.784983,TD14365,NaN,NaN,3,Four-Door Car
7068,NaN,California,M,College,7524.442436,21941.0,96.0,NaN,Personal Auto,NaN,691.200000,UP19263,NaN,NaN,0,Four-Door Car
7069,NaN,California,M,College,2611.836866,0.0,77.0,NaN,Corporate Auto,NaN,369.600000,Y167826,NaN,NaN,0,Two-Door Car

In [5]:
df_1.columns

Index(['Customer ID', 'State', 'Gender', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Open Complaints', 'Policy Type', 'Vehicle Type', 'Total Claim Amount'],
      dtype='object')

In [6]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [7]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [8]:
customer_data.columns

Index(['Customer ID', 'State', 'Gender', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Open Complaints', 'Policy Type', 'Vehicle Type', 'Total Claim Amount',
       'Customer', 'ST', 'GENDER', 'Number of Open Complaints',
       'Vehicle Class'],
      dtype='object')

In [9]:
customer_data.isnull()

,Customer ID,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Open Complaints,Policy Type,Vehicle Type,Total Claim Amount,Customer,ST,GENDER,Number of Open Complaints,Vehicle Class
0,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,True,False,False,False,False,False,False,True,False,True,False,False,True,True,False,False
7066,True,False,False,False,False,False,False,True,False,True,False,False,True,True,False,False
7067,True,False,False,False,False,False,False,True,False,True,False,False,True,True,False,False
7068,True,False,False,False,False,False,False,True,False,True,False,False,True,True,False,False
7069,True,False,False,False,False,False,False,True,False,True,False,False,True,True,False,False

In [10]:
customer_data.drop('Customer', axis = 'columns', inplace = True)

customer_data.drop('GENDER', axis = 'columns', inplace = True)

customer_data.drop('ST', axis = 'columns', inplace = True)

customer_data.drop('Number of Open Complaints', axis = 'columns', inplace = True)

In [11]:
customer_data.columns

Index(['Customer ID', 'State', 'Gender', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Open Complaints', 'Policy Type', 'Vehicle Type', 'Total Claim Amount',
       'Vehicle Class'],
      dtype='object')

In [12]:
customer_data.shape

(9018, 12)

In [13]:
customer_data.isnull().sum()

Customer ID                8066
State                       996
Gender                      996
Education                     0
Customer Lifetime Value       4
Income                        0
Monthly Premium Auto          0
Open Complaints            8066
Policy Type                   0
Vehicle Type               8066
Total Claim Amount            0
Vehicle Class               952
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [14]:
import pandas as pd
import numpy as np

customers_track = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

customers_track

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [15]:
customers_track.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [16]:
customers_track.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [17]:
customers_track.rename(columns= {'EmploymentStatus': 'Employment Status', 'Monthly Premium Auto': 'Monthly Premium'
                               'Months Since Policy': 'Months Policy', 'Customer Lifetime Auto': 'Customer Lifetime',
                               'Months Since Policy Inception': 'Months Inception'} inplace=True))

SyntaxError: unmatched ')' (825828197.py, line 3)

In [18]:
customers_track.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [19]:
customers_track.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [20]:
print(customers_track.isnull().sum())

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [ ]:
from datetime import datetime

In [ ]:
null_values = customers_track['state ','response','months since last claim','number of open complaints','vehicle class'
                             'vehicle size', 'vehicle type'].isnull().sum()

print(null_values)

In [22]:
customers_track['Effective To Date'] = pd.to_datetime(customers_track['Effective To Date'])

In [23]:
customers_track.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [24]:
customers_track['month'] = customers_track['Effective To Date'].dt.month

customers_track['months'] = customers_track['Effective To Date'].dt.month
                   
print(customers_track)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

          Policy Type        Policy Renew Offer Type  Sales Channel  \
0      Corporate Auto  Corporate L3           Offer3          Agent
1       Personal Auto   Personal L3           Offer4    Call Center
2       Personal Auto   Personal L3           Offer3    Call Center
3      Corporate Auto  Corporate L3           Offer2         Branch
4       Personal Auto   Personal L2           Offer1         Branch
...               ...           ...              ...            ...
10905   Personal Auto   Personal L1           Offer3            Web
10906   Personal Auto   Personal L3           Offer2         Branch
10907  Corporate Auto  Corporate L3           Offer1            Web
10908   Personal Auto   Personal L1           Offer1         Branch
10909   Personal Auto   Personal L1           Offer4            Web

       Total Claim Amount  Vehicle Class  Vehicle Size  Vehicle Type month  \
0              292.800000  Four-Door Car       Medsize           NaN     2
1              744.924331  Four-Door Car       Medsize           NaN     1
2              480.000000            SUV       Medsize             A     2
3              484.013411  Four-Door Car       Medsize             A     1
4              707.925645  Four-Door Car       Medsize           NaN     1
...                   ...            ...           ...           ...   ...
10905         1214.400000     Luxury Car       Medsize             A     1
10906          273.018929  Four-Door Car       Medsize             A     1
10907          381.306996     Luxury SUV       Medsize           NaN     2
10908          618.288849            SUV       Medsize             A     2
10909         1021.719397            SUV       Medsize           NaN     1

      months
0          2
1          1
2          2
3          1
4          1
...      ...
10905      1
10906      1
10907      2
10908      2
10909      1

[10910 rows x 28 columns]

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [31]:
print(customers_track.describe())

         Unnamed: 0  Customer Lifetime Value        Income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       Monthly Premium Auto  Months Since Last Claim  \
count          10910.000000             10277.000000
mean              93.196059                15.149071
std               34.442532                10.080349
min               61.000000                 0.000000
25%               68.000000                 6.000000
50%               83.000000                14.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       Months Since Policy Inception  Number of Open Complaints  \
count                   10910.000000               10277.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.912457
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.000000
max                        99.000000                   5.000000

       Number of Policies  Total Claim Amount         month        months
count        10910.000000        10910.000000  10910.000000  10910.000000
mean             2.979193          434.888330      1.466728      1.466728
std              2.399359          292.180556      0.498915      0.498915
min              1.000000            0.099007      1.000000      1.000000
25%              1.000000          271.082527      1.000000      1.000000
50%              2.000000          382.564630      1.000000      1.000000
75%              4.000000          547.200000      2.000000      2.000000
max              9.000000         2893.239678      2.000000      2.000000

In [33]:
total_claim_amount_total = customers_track['Total Claim Amount'].sum()

print("Total Claim Amount Total:", total_claim_amount_total)

Total Claim Amount Total: 4744631.677058

   months  Number of Open Complaints
0       1                          4
1       2                          2

In [48]:
print(customers_track.months.describe())

count    10910.000000
mean         1.466728
std          0.498915
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: months, dtype: float64