# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd
import numpy as np

#original dataframe
csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
insurance_company = pd.read_csv(csv_url)

insurance_company.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
new_data = pd.read_csv(csv_url)

new_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [4]:
csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
another_data = pd.read_csv(csv_url)

another_data.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [38]:
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'ST': 'State', 'GENDER': 'Gender'})

    return insurance_company

    
def cleaning_invalid_values(insurance_company):
    insurance_company.replace(to_replace = ["F", "Femal", "female"],
                          value = "Female", inplace=True)

    insurance_company.replace(to_replace = ["M", "male", "mal"],
                          value = "Male", inplace=True)

    insurance_company.replace(to_replace = ["Cali"],
                          value = "California", inplace=True)

    insurance_company.replace(to_replace = ["Cali"],
                          value = "California", inplace=True)
                          
    insurance_company.replace(to_replace = ["WA"],
                          value = "Washington ", inplace=True)
                          
    insurance_company.replace(to_replace = ["AZ"],
                          value = "Arizona", inplace=True)
                          
    insurance_company.replace(to_replace = ["Bachelors", "College"],
                          value = "Bachelor", inplace=True)
    
    return insurance_company


def formatting_data_types(insurance_company):
    insurance_company['Customer Lifetime Value'] = insurance_company['Customer Lifetime Value'].replace('%','')
    insurance_company['Customer Lifetime Value'] = insurance_company['Customer Lifetime Value'].astype('float')

    return insurance_company

def null_values(insurance_company):
    null_exists = False
    for column in insurance_company:
        for value in insurance_company[column].isnull():
           if(value):
               null_exists = True
    if null_exists == True:
        insurance_company = insurance_company.dropna()
    
    return insurance_company
    
def duplicates(insurance_company):
    duplicates_exists = False
    for column in insurance_company:
        for value in insurance_company[column].duplicated():
           if(value):
               duplicates_exists = True
    if duplicates_exists == True:
        insurance_company = insurance_company.drop_duplicates()    
    
    return insurance_company

In [39]:
#data cleaning: insurance_company

def data_cleaning(insurance_company):  
    insurance_company = cleaning_column_names(insurance_company)
    insurance_company = cleaning_invalid_values(insurance_company)
    insurance_company = formatting_data_types(insurance_company)
    insurance_company = null_values(insurance_company)
    insurance_company = duplicates(insurance_company)
    
    return insurance_company

insurance_company = data_cleaning(insurance_company)
display(insurance_company)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,Female,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,Female,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,Male,Master,305955.03,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,Female,High School or Below,2031499.76,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,Female,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,Female,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,Female,Bachelor,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [40]:
#data cleaning: new_data

def data_cleaning(insurance_company):  
    insurance_company = cleaning_column_names(insurance_company)
    insurance_company = cleaning_invalid_values(insurance_company)
    insurance_company = formatting_data_types(insurance_company)
    insurance_company = null_values(insurance_company)
    insurance_company = duplicates(insurance_company)
    
    return insurance_company

new_data = data_cleaning(new_data)
display(new_data)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,Female,Bachelor,323912.47,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,Female,Master,462680.11,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,Female,Bachelor,899704.02,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,Female,Bachelor,2580706.30,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,Female,Bachelor,380812.21,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,Male,Master,847141.75,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,Female,Bachelor,543121.91,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,Female,Bachelor,568964.41,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,Female,Master,368672.38,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,Male,Bachelor,399258.39,0,111,1/0/00,700.349052,Personal Auto,SUV

In [41]:
#data cleaning: another_data

def data_cleaning(insurance_company):  
    insurance_company = cleaning_column_names(insurance_company)
    insurance_company = cleaning_invalid_values(insurance_company)
    insurance_company = formatting_data_types(insurance_company)
    insurance_company = null_values(insurance_company)
    insurance_company = duplicates(insurance_company)
    
    return insurance_company

another_data = data_cleaning(another_data)
display(another_data)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,Male,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,Male,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,Female,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,Female,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,Male,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,Male,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,Bachelor,Female,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,Male,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,Bachelor,Male,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,Bachelor,Male,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [42]:
customer_data = pd.concat([insurance_company, new_data, another_data], axis=0)

print(customer_data.shape)

(9010, 11)

In [43]:
display(customer_data)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,Bachelor,7.645862e+05,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,Female,Bachelor,8.256298e+05,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,Male,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,Female,Bachelor,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,Male,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,Male,Bachelor,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,Male,Bachelor,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [45]:
csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
marketing_customer_analysis = pd.read_csv(csv_url)

marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [46]:
state = marketing_customer_analysis['State'].value_counts()
state

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

In [17]:
response = marketing_customer_analysis['Response'].value_counts()
response

No     8813
Yes    1466
Name: Response, dtype: int64

In [18]:
coverage = marketing_customer_analysis['Coverage'].value_counts()
coverage

Basic       6660
Extended    3265
Premium      985
Name: Coverage, dtype: int64

In [19]:
education = marketing_customer_analysis['Education'].value_counts()
education

Bachelor                3272
College                 3204
High School or Below    3146
Master                   887
Doctor                   401
Name: Education, dtype: int64

In [20]:
employmentstatus = marketing_customer_analysis['EmploymentStatus'].value_counts()
employmentstatus

Employed         6789
Unemployed       2787
Medical Leave     504
Disabled          499
Retired           331
Name: EmploymentStatus, dtype: int64

In [21]:
pt = marketing_customer_analysis['Policy Type'].value_counts()
pt

Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: Policy Type, dtype: int64

In [22]:
sales_channel = marketing_customer_analysis['Sales Channel'].value_counts()
sales_channel

Agent          4121
Branch         3022
Call Center    2141
Web            1626
Name: Sales Channel, dtype: int64

In [23]:
vehicle_size = marketing_customer_analysis['Vehicle Size'].value_counts()
vehicle_size

Medsize    7251
Small      1966
Large      1071
Name: Vehicle Size, dtype: int64

In [24]:
gender = marketing_customer_analysis['Gender'].value_counts()
gender

F    5573
M    5337
Name: Gender, dtype: int64

In [47]:
def cleaning_invalid_values(insurance_company):                         
    insurance_company.replace(to_replace = ["Bachelors", "College"],
                          value = "Bachelor", inplace=True)
    insurance_company.replace(to_replace = ["Medsize"],
                          value = "Midsize", inplace=True)
    insurance_company.replace(to_replace = ["M"],
                          value = "Male", inplace=True)
    insurance_company.replace(to_replace = ["F"],
                          value = "Female", inplace=True)
    
    return insurance_company

marketing_customer_analysis = cleaning_column_names(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [26]:
def cleaning_column_names(insurance_company):
    insurance_company = insurance_company.rename(columns = {'EmploymentStatus': 'Employment Status'})

    return insurance_company

marketing_customer_analysis = cleaning_column_names(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [27]:
marketing_customer_analysis.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
Employment Status                 object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [28]:
def null_values(insurance_company):
    null_exists = False
    for column in insurance_company:
        for value in insurance_company[column].isnull():
           if(value):
               null_exists = True
    if null_exists == True:
        insurance_company = insurance_company.dropna()
    
    return insurance_company

marketing_customer_analysis = null_values(marketing_customer_analysis)
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A

In [48]:
marketing_customer_analysis['Effective To Date'] = pd.to_datetime(marketing_customer_analysis['Effective To Date'])

marketing_customer_analysis['Month'] = marketing_customer_analysis['Effective To Date'].dt.strftime('%B')

In [49]:
marketing_customer_analysis.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,February
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,January

In [50]:
marketing_customer_analysis.to_csv('marketing_customer_analysis.csv', index = False)

In [51]:
marketing_customer_analysis.dtypes

Unnamed: 0                                int64
Customer                                 object
State                                    object
Customer Lifetime Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective To Date                datetime64[ns]
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location Code                            object
Marital Status                           object
Monthly Premium Auto                      int64
Months Since Last Claim                 float64
Months Since Policy Inception             int64
Number of Open Complaints               float64
Number of Policies                        int64
Policy Type                              object
Policy                                   object
Renew Offer Type                         object
Sales Channel                            object
Total Claim Amount                      float64
Vehicle Class                            object
Vehicle Size                             object
Vehicle Type                             object
Month                                    object
dtype: object

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [52]:
#total revenue for each sales channel

marketing_customer_analysis.groupby(["Sales Channel"]).agg({"Total Claim Amount":"sum"}).reset_index()

  Sales Channel  Total Claim Amount
0         Agent        1.810227e+06
1        Branch        1.301204e+06
2   Call Center        9.266008e+05
3           Web        7.066000e+05

In [35]:
#avg customer lifetime value per gender and education level

avg_customer = marketing_customer_analysis.groupby(["Gender", "Education"]).agg({"Customer Lifetime Value":"mean"}).reset_index()

avg_customer["Customer Lifetime Value"] = avg_customer["Customer Lifetime Value"].round(2)

avg_customer

  Gender             Education  Customer Lifetime Value
0      F              Bachelor                  8039.29
1      F               College                  7798.08
2      F                Doctor                  8475.30
3      F  High School or Below                  8475.52
4      F                Master                  8243.13
5      M              Bachelor                  8125.26
6      M               College                  7984.30
7      M                Doctor                  7659.74
8      M  High School or Below                  7730.15
9      M                Master                  8013.87

In [36]:
#which months had the highest number of complaints by policy type category and month

marketing_customer_analysis.groupby(["Policy Type", "Month"]).agg({"Number of Open Complaints":"sum"}).reset_index()

      Policy Type     Month  Number of Open Complaints
0  Corporate Auto  February                      176.0
1  Corporate Auto   January                      161.0
2   Personal Auto  February                      623.0
3   Personal Auto   January                      725.0
4    Special Auto  February                       37.0
5    Special Auto   January                       33.0